{# Anchor button #}
{% macro button(props) %}
  {% set defaultProps = {
     text: 'Button',
     href: '#',
     target: null,
     class: ''
  } %}
  {% set props = props != null ? defaultProps | merge(props) : defaultProps %}
  <a
    href="{{props.href}}"
    class="br br-pill  ph5 link white Graphik-Medium ttu f6 tracked {{props.class}}"
    style="padding-top: 16px; padding-bottom: 16px;"
    target="{{ props.target }}">
    {{props.text}}
  </a>
{% endmacro %}

{# Link with arrow poiting right #}
{% macro link(props) %}
  {% import '/_components/_svg' as svg %}
  {% set defaultProps = {
     text: 'Link',
     href: '#',
     target: null,
     class: '',
     color: '#fff'
  } %}
  {% set props = props != null ? defaultProps | merge(props) : defaultProps %}
  <a
    href="{{props.href}}"
    class="link lh-copy white Graphik-Medium f4 {{props.class}} {{props.color}}"
    target="{{ props.target }}">
    {{props.text}}<span class="pl1 relative" style="bottom: -3px;">{{ svg.arrowRight({'color': props.color}) }}</span>
  </a>
{% endmacro %}

{# Checkout step button with arror poiting left #}
{% macro back(props) %}
  {% import '/_components/_svg' as svg %}
  {% set defaultProps = {
     text: 'Button',
     href: '#',
     target: null,
     class: ''
  } %}
  {% set props = props != null ? defaultProps | merge(props) : defaultProps %}
  <a
    href="{{props.href}}"
    class="dark-green link f4 Graphik-Medium ph3-ns lh-solid {{props.class}}"
    {% if props.target %}target="{{ props.target }}">{%endif%}>
    {{svg.arrowLeft({class:'mr3'})}}
    {{props.text}}
  </a>
{% endmacro %}

{# Chackout step pill button #}
{% macro forwardPill(props) %}
  {% import '/_components/_svg' as svg %}
  {% set defaultProps = {
     text: 'Button',
     href: false,
     target: false,
     class: ''
  } %}
  {% set props = props != null ? defaultProps | merge(props) : defaultProps %}
  <a
    {%if props.href%}href="{{props.href}}"{%endif%}
    class="ph5 bg-green bw0 Graphik-Medium white br-pill link f5 lh-solid inline-flex justify-center items-center {{props.class}}"
    {% if props.target %}target="{{ props.target }}">{%endif%}>
    {{props.text}}
    {{svg.arrowRight({class:'ml3'})}}
  </a>
{% endmacro %}

{# Form submit button #}
{% macro submit(props) %}
  {% set defaultProps = {
     text: 'Button',
     href: '#',
     target: null,
     class: ''
  } %}
  {% set props = props != null ? defaultProps | merge(props) : defaultProps %}
  <button
    href="{{props.href}}"
    class="pointer bw0 pointer br br-pill pv3 ph5 link white Graphik-Medium ttu f6 tracked input-reset {{props.class}}">
    {{props.text}}
  </button>
{% endmacro %}
