<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <meta property="og:description" content="">
    <meta property="og:site_name" content="">
    <meta content="summary_large_image" name="twitter:card">
    <meta name="twitter:site" content="">
    <meta name="twitter:title" content="">
    <meta name="twitter:description" content="">
    <meta name="twitter:creator" content="">
    <meta name="twitter:creator:id" content="">
    <meta name="twitter:image:src" content="">
    <meta name="format-detection" content="telephone=no">
    <link type="text/plain" rel="author" href="humans.txt" />
    <link href="" rel="canonical">
    <link href="" rel="shortcut icon" type="image/ico">
    <link href="" rel="apple-touch-icon-precomposed">
    <link href="" rel="mask-icon">
    {# Preload js bundle file for faster page load. #}
    <link href="/build/js/bundle.js" rel="preload" as=script>
    {# Preload font files for faster page load. #}
    {# <link href="/fonts-with-preload" rel="preload" as=font crossorigin=crossorigin type="font/woff2"> #}
    <link rel="stylesheet" href="/build/css/main.css">
    <!--[if lte IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <main>
      {% block content %}
  		{% endblock %}
    </main>
    <script src="/build/js/bundle.js"></script>
    <script>
      window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
      ga('create','UA-XXXXX-Y','auto');ga('send','pageview')
    </script>
    <script src="https://www.google-analytics.com/analytics.js" async defer></script>
  </body>
</html>
